/* ++++++ commons ++++++ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.left {
    float: left;
}
.container {
    width: 70%;
    margin: 20px auto;
}

/* ++++++ header ++++++ */
header {
    height: 100px;
}

/* ++++++ jumbotron ++++++ */
.jumbotron {
    margin: 20px 0;
}

/* ++++++ main ++++++ */
main .main-header {
    height: 70px;
}
main .main-body {
    padding: 20px 0;
}
main .main-body .sidebar {
    width: 20%;
}
main .main-body .content {
    width: calc(60% - 40px);
    margin: 0 20px;
}

/* ++++++ debug ++++++ */
.debug header {
    background-color: hotpink;
}
.debug .jumbotron {
    height: 500px;
    background-color: khaki;
}
.debug main {
    background-color: dodgerblue;
}
.debug main .main-header,
.debug main .main-body div {
    background-color:lightblue;
}
.debug main .main-body .sidebar,
.debug main .main-body .content {
    height: 500px;
}